<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,maximum-scale=1.0" />
  </head>
  <body>
    <div id="app">
      koa
    </div>
  </body>
  <script>
    document.cookie = 'cookie=11;domain=internal-alb005-ecs-1458330123.cn-north-1.elb.amazonaws.com.cn'
  </script>
  <script>
  </script>
</html>
